:root {
    --font-size-extrasmall: 12px;
    --font-size-small: 15px;
    --font-size-medium: 20px;
    --font-size-large: 30px;
    --font-size-extralarge: 35px;

    --font-weight-small: 200;
    --font-weight-medium: 400;
    --font-weight-bold: 600;
    --font-weight-fat: 700;

    --col-white-100: hsl(0, 0%, 100%);
    --col-white-150: hsl(0, 0%, 95%);
    --col-white-200: hsl(0, 0%, 90%);
    --col-white-300: hsl(0, 0%, 80%);
    --col-white-400: hsl(0, 0%, 70%);
    --col-white-500: hsl(0, 0%, 60%);
    --col-white-600: hsl(0, 0%, 50%);
    --col-white-700: hsl(0, 0%, 40%);
    --col-white-800: hsl(0, 0%, 30%);
    --col-white-900: hsl(0, 0%, 20%);
    --col-black: hsl(0, 0%, 15%);

    --col-solar-500: hsl(63, 65%, 50%);
    --col-solar-550: hsl(63, 65%, 45%);

    --col-error: hsl(0, 100%, 50%);
}