:root {
    --font-size-small: 15px;
    --font-size-medium: 20px;
    --font-size-large: 30px;

    --font-weight-small: 200;
    --font-weight-medium: 400;
    --font-weight-bold: 600;

    --col-white: #ffffff;
    --col-black: #222222;
    --col-solar: #c5ce2c;
    --col-light-grey: #f5f5f5;
    --col-grey: #aaaaaa;
    --col-border: #e5e5e5;
}